.item {
  margin: 20px;
  width: 300px;
}
.image {
  width: 250px;  
  margin: 0 20px;
}
.titile {
  color:rgb(68, 163, 241);
}
.content--price__green {
  color: rgb(3, 105, 3);
  font-weight: 700;
}
.content--label__grey {
  color: rgb(119, 119, 119);
}
.add {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .item {
    width: 250px;
    margin: 10px;
  }
  .image {
    width: 200px;
  }
}