<mat-card class="item">
  <img 
    class="image"
    mat-card-image src="../../../assets/images/img.jpg" 
    alt="photo">  
  <mat-card-title class="titile">
    {{ item.name }}
  </mat-card-title>  
  <mat-card-content>
    <p class="content--price__green">{{ item.price }}$</p>
    <p class="content--label__grey">{{ item.label }}</p>
  </mat-card-content> 
  <mat-card-actions class="add">
    <button mat-raised-button color="primary" (click)="deleteItem(item)">
      Delete <mat-icon>remove_shopping_cart</mat-icon>
    </button>
  </mat-card-actions> 
</mat-card>